body {
  margin:0px;
  background-color:rgba(1, 111, 160, 0.9921568627450981);
  background-image:url('../../images/index/bg.jpg');
  background-position:left top;
  background-repeat:repeat;
  background-attachment:scroll;
  background-size:1687px 1126px;
  background-origin:border-box;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1660px;
  height:174px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:56px;
  width:1660px;
  height:174px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:rgba(250, 205, 145, 0.9921568627450981);
}
#u1 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:186px;
  width:86px;
  height:33px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:rgba(250, 205, 145, 0.9921568627450981);
}
#u1 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FACD91;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:182px;
  width:85px;
  height:33px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FACD91;
}
#u2 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FACD91;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:182px;
  width:86px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FACD91;
}
#u3 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1545px;
  height:216px;
  background:inherit;
  background-color:rgba(2, 167, 240, 0.3137254901960784);
  border-radius:14px;
  filter:drop-shadow(none);
  transition:none;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:242px;
  width:1545px;
  height:216px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
  text-align:center;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:264px;
  width:1053px;
  height:134px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
  text-align:center;
}
#u5 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:44px;
  background:inherit;
  background-color:rgba(245, 154, 35, 0.9921568627450981);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:338px;
  width:169px;
  height:44px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  color:#FFFFFF;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:236px;
  background:inherit;
  background-color:rgba(217, 0, 27, 1);
  border-radius:36px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
  text-align:center;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:478px;
  width:897px;
  height:236px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
  text-align:center;
}
#u7 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(245, 154, 35, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:11px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:651px;
  width:140px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:739px;
  width:299px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u9 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:779px;
  width:679px;
  height:335px;
  display:flex;
  transition:none;
}
#u10 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:335px;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:779px;
  width:659px;
  height:335px;
  display:flex;
  transition:none;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  height:335px;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:1122px;
  width:796px;
  height:327px;
  display:flex;
  transition:none;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  height:327px;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:46px;
  background:inherit;
  background-color:rgba(245, 154, 35, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:11px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:908px;
  top:1464px;
  width:156px;
  height:46px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:1556px;
  width:325px;
  height:136px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FFFFFF;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:0px;
  width:168px;
  height:30px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FFFFFF;
}
#u16 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FFFFFF;
}
#u17 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:58px;
  height:30px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FFFFFF;
}
#u18 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:30px;
  width:168px;
  height:30px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:30px;
  width:99px;
  height:30px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FFFFFF;
}
#u20 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:58px;
  height:36px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FFFFFF;
}
#u21 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:36px;
}
#u21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:60px;
  width:168px;
  height:36px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FFFFFF;
}
#u22 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:36px;
}
#u22_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:60px;
  width:99px;
  height:36px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FFFFFF;
}
#u23 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u23_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:58px;
  height:40px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FFFFFF;
}
#u24 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:40px;
}
#u24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:96px;
  width:168px;
  height:40px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FFFFFF;
}
#u25 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
}
#u25_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:96px;
  width:99px;
  height:40px;
  display:flex;
  transition:none;
  font-size:16px;
  color:#FFFFFF;
}
#u26 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u26_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:1524px;
  width:238px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u27 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:449px;
  background:inherit;
  background-color:rgba(0, 255, 255, 0.8588235294117647);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:23px;
  filter:drop-shadow(none);
  transition:none;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:1721px;
  width:434px;
  height:449px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u28 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:60px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u29_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:60px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u29_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:60px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u29_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:60px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:1748px;
  width:322px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u29 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u29.hint {
}
#u29_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:60px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u29.disabled {
}
#u29_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:60px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u29.hint.disabled {
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:45px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.44313725490196076);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u30_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:45px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u30_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:45px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.44313725490196076);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u30_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:45px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(0, 0, 0, 0.44313725490196076);
}
#u30 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:1835px;
  width:342px;
  height:45px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:rgba(0, 0, 0, 0.44313725490196076);
}
#u30 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(0, 0, 0, 0.44313725490196076);
}
#u30.hint {
}
#u30_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:45px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(0, 0, 0, 0.44313725490196076);
}
#u30.disabled {
}
#u30_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:45px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(0, 0, 0, 0.44313725490196076);
}
#u30.hint.disabled {
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u31_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u31_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u31_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:1797px;
  width:146px;
  height:38px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u31 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u31.hint {
}
#u31_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u31.disabled {
}
#u31_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u31.hint.disabled {
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:908px;
  top:1886px;
  width:186px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u32 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u32.hint {
}
#u32_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u32.disabled {
}
#u32_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u32.hint.disabled {
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.44313725490196076);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u33_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u33_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.44313725490196076);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u33_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(0, 0, 0, 0.44313725490196076);
}
#u33 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:1926px;
  width:342px;
  height:39px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:rgba(0, 0, 0, 0.44313725490196076);
}
#u33 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(0, 0, 0, 0.44313725490196076);
}
#u33.hint {
}
#u33_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:39px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(0, 0, 0, 0.44313725490196076);
}
#u33.disabled {
}
#u33_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:39px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(0, 0, 0, 0.44313725490196076);
}
#u33.hint.disabled {
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:41px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u34_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:41px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u34_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:41px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u34_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:41px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:1975px;
  width:212px;
  height:41px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u34 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u34.hint {
}
#u34_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:41px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u34.disabled {
}
#u34_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:41px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u34.hint.disabled {
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:92px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.4117647058823529);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u35_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:92px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u35_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:92px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.4117647058823529);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u35_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:92px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  color:rgba(0, 0, 0, 0.4117647058823529);
}
#u35 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:2016px;
  width:342px;
  height:92px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  color:rgba(0, 0, 0, 0.4117647058823529);
}
#u35 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  color:rgba(0, 0, 0, 0.4117647058823529);
}
#u35.hint {
}
#u35_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:92px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  color:rgba(0, 0, 0, 0.4117647058823529);
}
#u35.disabled {
}
#u35_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:92px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  color:rgba(0, 0, 0, 0.4117647058823529);
}
#u35.hint.disabled {
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.9921568627450981);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:2118px;
  width:140px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u36 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u36_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:107px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:2219px;
  width:1514px;
  height:107px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u37 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u38_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u38_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u38_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.9921568627450981);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:2253px;
  width:650px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u38 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.9921568627450981);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u38.hint {
}
#u38_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u38.disabled {
}
#u38_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u38.hint.disabled {
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FACD91;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:1175px;
  top:175px;
  width:140px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FACD91;
}
#u39 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
